/* Чтобы превратить нашу обертку div в сетку, мы просто дадим ей отображение grid.
Но это пока ничего не делает, поскольку мы не определили, как мы хотим, чтобы наша сетка выглядела. Сейчас это
просто складывает 6 div друг на друга. */

/* .wrapper {
  display: grid;
  text-align: center; */
/* grid-gap добавляет расстояние между дивами */
/* grid-gap: 5px; 
} */

/* Чтобы сделать его двумерным,
нам нужно определить столбцы и строки. 
Давайте создадим три столбца и две строки. 
Мы будем использовать свойства grid-template-row и grid-template-column. */
/* Поскольку мы написали три значения для grid-template-columns,
мы получим три столбца. И мы получим две строки,
так как мы указали два значения для grid-template-rows. */
/* Значения определяют широту наших столбцов (100px) и высоту для наших строк (50px). */
/* Заметьте,
мы видим только сетку 3x2 на странице,
в то время как мы определили ее как сетку 3x3. Это потому,
что у нас есть только шесть элементов,
чтобы заполнить сетку. Если бы у нас было еще три,
то и нижняя строка была бы заполнена. */

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px 50px;
  text-align: center;
  vertical-align: middle;
  grid-gap: 5px;
  /* расположить всё содержимое страницы по центру экрана */
  justify-content: center;
}

/* Для позиционирования и изменения размера элементов мы будем указывать их и использовать свойства grid-column и grid-row: */
/* Здесь мы говорим о том,
что мы хотим,
чтобы item1 начинался с первой линии сетки и заканчивался на столбце с номером 4. Другими словами,
это займет всю строку.  */

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rebeccapurple;
}

/* или более короткая запись: */

/* .item1 {
    grid-column: 1 / 4;
} */

.item2 {
  background-color: rgb(86, 160, 90);
}

.item3 {
  /* занимает места со второй строки по 4 строку по вертикали */
  grid-row: 2 / 4;
  background-color: rgb(165, 139, 25);
}

.item4 {
  /* занимает места со второй колонки по 4 колонку по горизонтали */

  grid-column: 2 / 4;
  background-color: rgb(83, 82, 85);
}

.item5 {
  background-color: rgb(51, 153, 85);
}

.item6 {
  background-color: rgb(165, 42, 114);
}